# Core functionality - changes here should be rare!
/src/app.py                   @Kingreyda
/src/backend/database.py      @Kingreyda
/src/backend/routers/auth.py  @Kingreyda

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Kingreyda
